html { 


} 

body { 
    margin: 0; 
    padding: 0;
} 



/*DIAPORAMA*/

header { 
    border: 3px solid green;
    background-color: green;
    height: 800px;
} 

#fleches{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: transparent;

    position: absolute;
    z-index: 10000;
}
.fa-arrow-left{
    border: blueviolet 3px solid;
    border: 1px solid #FFF;
    background-color: #FFF;
    border-radius: 65%;
    font-size: 35px;
    margin: 10px;


}
.fa-arrow-right{
    border: burlywood 3px solid;
    border: 1px solid #FFF;
    background-color: #FFF;
    border-radius: 65%;
    font-size: 35px;
    margin: 10px;
    
}
.slide, .imge1, .imge2{
    width: 100%;
    height: 800px;
}
#imgdiapo{
    position:relative;
    width:100%; 
    height:800px;
}
#imgdiapo > ul > div > img {
    width: 100%
}
#imgdiapo div{
    list-style-type:none;
    overflow:hidden;
    position:absolute;
}
/*
#diapo {
    position: relative;
    z-index: 1;
    width: 100%; 
    height: 800px;
    border: 3px solid grey;
    animation: activeslide infinite alternate 20s;
}

@keyframes activeslide {
    0% {
        background-image: url(images/slide1.jpg)
    }
    30% {
        background-image: url(images/slide2.jpg)
    }
    65% {
        background-image: url(images/slide3.jpg)
    }
    100%{
        background-image: url(images/slide4.jpg);
    }    
}


/**/
section { 
    border: 3px solid red;
    background-color: red;
    display: flex;
} 

div { 
    border: 3px solid gray;
    background-color: grey;

} 
#map{
    border: 3px solid yellow;
    background-color: yellow;
    height: 600px;
    width: 70%;
}

#inforesa{
    border: 3px solid orange;
    background-color: orange;
    width: 30%;
    height: 600px;
}
/**/
footer { 
    border: 3px solid blue;
    background-color: blue;
    height: 100px;
} 


